---
layout: default
---
<div class="page-header">
<h2>{{ page.title }}</h2>
<p class="meta">
  {{ page.date | date_to_string }}
  &bullet;
  Category:
  {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories/{{cat}}">{{cat}}</a>,
  {% endfor %}
  &bullet;
  Tags:
    {% for tag in page.tags %}
    <a href="{{site.baseurl}}/tags/{{tag}}">{{tag}}</a>,
    {% endfor %}
</p>  

</div>

<div id="content" class="container">
{{ content }}
</div>

{% if page.external_url %}
<p>
  <strong>Source:</strong>
  <a href="{{page.external_url}}">{{page.external_url}}</a>
</p>
{% endif %}
