body { font-size: 22px; }

.excerpt {
    font-size: 120%;
    font-style: italic;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.post-index-entry .excerpt {
    font-size: 90%;
    font-style: italic;
    padding-left: 3em;
}


div#content img {max-width: 95%;}

div#footer { font-size: 14px; }
