<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{site.baseurl}}/">{{site.name}}</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{site.baseurl}}/full_index.html">Recipes Index</a></li>
      <li id="category-dropdown" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% capture categories %}
          {% for category in site.categories %}
          {{ category[0] }}
          {% endfor %}
          {% endcapture %}
          {% assign sortedcats = categories | split:' ' | sort %}
          {% for category_name in  sortedcats %}
          <li><a href="{{site.baseurl}}/categories/{{category_name}}/index.html">{{ category_name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="{{site.baseurl}}/tags.html">Tags</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
