---
layout: default
title: "Home Page"
---

<div id="home">
  <h1>Recipe File</h1>
  
  <h2>Categories</h2>
  <ul id="categories">
    {% for category in site.categories %}
    <li><a href="{{site.baseurl}}/categories/{{category|first}}/index.html">{{ category|first }}</a></li>
    {% endfor %}
  </ul>

  <h1>Recent Additions</h1>
  <div class="post-index">
    {% for post in site.posts limit:5 %}
    <div class="post-index-entry lead">
      <span>{{ post.date | date_to_string }}</span>
      &raquo;
      <a href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a><br />
      {{ post.excerpt }}
    </div>
    {% endfor %}
  </div>

</div>
